* {
    margin:0;
    padding: 0;
    
}

.row {
display: flex;

}
.head1 {
    width:100%;
    height: 150px;

}

.head1{
    background-color: burlywood;
}

.head2 {
    width:100%;
    height: 50px;
}
.head2{
    background-color:rgb(141, 127, 108);
}

.head3, .head4 {
    width: 50%;
}
.head3-1, .head3-2 {
    height: 150px;
}
.head3-1 {
    background-color: rgb(88, 62, 28);
}
.head3-2 {
    background-color: rgb(121, 76, 19);
}
.head4 {
    background-color: rgb(153, 142, 128);
    height: 300px;
}
.head5 {
    background-color: burlywood;
    height: 50px;
}
.div {
    border: rgb(122, 110, 93);
}